@font-face {
	font-family: 'Circular Std';
	src:
		local('CircularStd'),
		url('/fonts/CircularStd-Light.woff') format('woff'),
		url('/fonts/CircularStd-Light.woff2') format('woff2');
	font-weight: 200;
	font-display: swap;
  }
  
  @font-face {
	font-family: 'Circular Std';
	src:
		local('CircularStd'),
		url('/fonts/CircularStd-Medium.woff') format('woff'),
		url('/fonts/CircularStd-Medium.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: 'Circular Std';
	src:
		local('CircularStd'),
		url('/fonts/CircularStd-Black.woff') format('woff'),
		url('/fonts/CircularStd-Black.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
  }
  
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;


body, html {
  height: 100%;
  font-size: 1.1rem;
  font-family: 'Circular Std';
}

svg {
	display: inline;
}
.text-faq-link {
    color: #ED693C;
}

.pointer {
	cursor: pointer;
}

.nav-logo {
	display: inline;
}

.menu-box {
	box-sizing: border-box;
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 0px;
	gap: 4px;


	/* Base/Black */

	background: #000000;
	/* Base/Gray/900 */

	border: 1px solid #404040;
	border-radius: 8px;

	/* Inside auto layout */

	flex: none;
	order: 3;
	flex-grow: 0;
	z-index: 6;
	width: 387px;
	height: auto;
}
.menu-section {
	padding: 1px 0;
}
.menu-panel {
	padding: 8px 12px;
	gap: 8px;
	
	width: 387px;
	height: 42px;
	
	background: rgba(64, 64, 64, 0.3);
}
.menu-switcher {
	box-sizing: border-box;	
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 8px;
	gap: 4px;	
	width: 74px;
	height: 24px;
	border: 1px solid #FFFFFF;
	border-radius: 32px;
	text-align: right;
	text-align: -webkit-right;
}

.menu-switcher-text {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

.menu-badge-fg {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 8px;

	width: 61px;
	height: 20px;

	/* Base/Black */

	background: #000000;
	border-radius: 16px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.menu-badge-bg {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 8px;

	width: 61px;
	height: 20px;

	/* Base/Black */

	background: #000000;
	border-radius: 16px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.menu-settings-1 {
	width: 218px;
	height: 18px;

	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */


	/* Gray/300 */

	color: #C8CBD3;


	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.menu-settings-2 {
	width: 218px;
	height: 24px;
	
	/* base/Light */
	
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	
	
	/* Main/White */
	
	color: #FFFFFF;
	
	
	/* Inside auto layout */
	
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
.menu-text-col1 {
	white-space: nowrap;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}
.menu-text-col2 {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}
.menu-text-val {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}
.flasherize-button {
	border-bottom: 1pt solid #FEDB63!important;
	color: #fff!important;
}
.flasherize-text {
	color: #fff!important;
}