@font-face {
	font-family: 'Circular Std';
	src:
		local('CircularStd'),
		url('/fonts/CircularStd-Light.woff') format('woff'),
		url('/fonts/CircularStd-Light.woff2') format('woff2');
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: 'Circular Std';
	src:
		local('CircularStd'),
		url('/fonts/CircularStd-Medium.woff') format('woff'),
		url('/fonts/CircularStd-Medium.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular Std';
	src:
		local('CircularStd'),
		url('/fonts/CircularStd-Black.woff') format('woff'),
		url('/fonts/CircularStd-Black.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  height: 100%;
}
p {
	margin-bottom: 20px;
}
.background {
	background-image: url("$lib/assets/bg-lines.png");
	background-size: cover;
  }
  

.flasherize-button {
	border-bottom: 1pt solid #FEDB63!important;
	color: #fff!important;
}
.flasherize-text {
	color: #fff!important;
}